/*.Nav-Buttons {
  display: flex !important;
  margin-left: auto !important;
  align-items: center !important;
}
.Nav-Button {
  display: flex !important;
  margin-left: auto !important;
} */

.media-Icons {
  width: 30px !important;
  height: 30px !important;
}
.card-main {
  margin: auto !important;
  padding: 30px 20px 20px !important;
  border-radius: 10px !important;
  box-shadow: 0 2px 0 rgb(90 97 105 / 11%), 0 4px 8px rgb(90 97 105 / 12%),
    0 10px 10px rgb(90 97 105 / 6%), 0 7px 70px rgb(90 97 105 / 10%) !important;
}
.card-main input {
  box-shadow: 0px 0px 11px rgb(0 0 0 / 8%) !important;
}

.welcome {
  color: #212529 !important;
}

@media screen and (max-width: 414px) {
  .pix-register-btn {
    padding: 0px 14px !important;
    line-height: 35px !important;
    border-radius: 5px !important;
    font-size: 15px !important  ;
    color: #fff;
    border: 0 solid #fff;
    height: 35px !important;
    vertical-align: middle !important;
    display: inline-block !important;
    cursor: pointer !important;
  }
  .pix-nw-login-btn {
    padding: 0px 12px !important;
    margin-right: 0px !important;
  }
  .landing-content {
    margin-top: 20% !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 1125px) {
  #mobile_no {
    width: 65% !important;
  }
}

@media screen and (max-width: 414px) {
  #mobile_no {
    width: 44% !important;
  }
}
