.landing-content-SD {
  margin-top: 60px !important;
  /* text-align: center; */
  margin: 0px auto;
}

.signUp-user-form {
  position: relative !important;
  margin: auto !important;
  padding: 30px 20px 20px !important;
  border-radius: 10px !important;
  margin-top: 2pc !important;
  background: #fff !important;
  box-shadow: 0 2px 0 rgb(90 97 105 / 11%), 0 4px 8px rgb(90 97 105 / 12%),
    0 10px 10px rgb(90 97 105 / 6%), 0 7px 70px rgb(90 97 105 / 10%) !important;
}

.pix-login02 {
  margin-top: 4px !important;
  display: block;
  width: 118% !important;
  height: calc(1.7em + 0.75rem + 2px) !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#profile {
  background: linear-gradient(262deg, #f93164, #f97f13) !important;
  width: 192px !important;
  padding-top: 0.4pc !important;
  padding-bottom: 0.4pc !important;
  right: 95px !important;
  top: 200.578px !important;
}

@media screen and (max-width: 414px) {
  .landing-content-SD {
    margin-top: 20% !important;
    width: 100% !important;
  }
  #profile {
    min-width: 12px !important;
    right: 62px !important;
  }
}
@media screen and (max-width: 365px) {
  .col-login {
    width: 100% !important;
    min-width: 95% !important;
  }
  .pix-login02 {
    width: 111% !important;
  }
}
